.container {
    padding: 320px;
}

.silder-wrapper {
    position: relative;
    max-width: 768px;
    margin: 0 auto;
}

.slider{
    display: flex;
   aspect-ratio: 16/9;
   overflow-x: auto;
   scroll-snap-type: x mandatory;
   scroll-behavior: smooth;
   box-shadow: 0 10px 20px rgb(240, 3, 3);
   border-radius: 8px;
}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 16px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms; 
}

.slider-nav a:hover {
    opacity: 1;
}

.header {
    position: auto;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f71212;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #fff;
    
}

.header2 {
    position: auto;
    top: 0;
    left: 0%;
    width: 100%;
    z-index: 1000;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px;       
    color: #0e0202;
    
}

.footer {
    position: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #070707;
    
}

.container2 {
    position: auto;
    top: 0;
    border-radius: 8px;
    max-width: 100%;
    height: auto;

    
}
.center {
    position: auto;
    top: 15%;
    max-width: 100%;
    height: auto;
    text-align: center;
    font-size: 18px;
  }

.container3 {
    position: auto;
    top: 0;
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: #c22424;
}

.container4 {
    position: auto;
    top: 0;
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0c0c0c;
}

.navbarNav{
    position: auto;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #c22424;
    color: #fff;
    
}

   