.container6 {
    padding: 320px;
}

.silder-wrapper {
    position: relative;
    max-width: 768px;
    margin: 0 auto;
}

.slider{
    display: flex;
   aspect-ratio: 16/9;
   overflow-x: auto;
   scroll-snap-type: x mandatory;
   scroll-behavior: smooth;
   box-shadow: 0 10px 20px rgb(40, 213, 219);
   border-radius: 8px;
}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav1 {
    display: flex;
    column-gap: 16px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav1 a {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms; 
}

.slider-nav1 a:hover {
    opacity: 1;
}

.header {
    position: auto;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0bbbe7;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #fff;
    
}

.header2 {
    position: auto;
    top: 0;
    left: 0%;
    width: 100%;
    z-index: 1000;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px;       
    color: #0e0202;
    
}

.footer {
    position: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #070707;
    
}

.container2 {
    position: auto;
    top: 0;
    border-radius: 8px;
    max-width: 100%;
    height: auto;

    
}
.center {
    position: auto;
    top: 15%;
    max-width: 100%;
    height: auto;
    text-align: center;
    font-size: 18px;
  }

.container3 {
    position: auto;
    top: 0;
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: #2488c2;
}

.container4 {
    position: auto;
    top: 0;
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0c0c0c;
}

.navbarNav{
    position: auto;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #c22424;
    color: #fff;
    
}
h1{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
  }
  table{
    width:100%;
    table-layout: fixed;
  }
  .tbl-header{
    background-color: rgba(255,255,255,0.3);
   }
  .tbl-content{
    height:300px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
  }
  th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
  }
  td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    border-bottom: solid 1px rgba(255,255,255,0.1);
  }
  
  
  
  
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
  body{
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);
    font-family: 'Roboto', sans-serif;
  }
  section{
    margin: 50px;
  }
  
  
  .made-with-love {
    margin-top: 40px;
    padding: 10px;
    clear: left;
    text-align: center;
    font-size: 10px;
    font-family: arial;
    color: #fff;
  }
  .made-with-love i {
    font-style: normal;
    color: #F50057;
    font-size: 14px;
    position: relative;
    top: 2px;
  }
  .made-with-love a {
    color: #fff;
    text-decoration: none;
  }
  .made-with-love a:hover {
    text-decoration: underline;
  }
  
  
 
  
  ::-webkit-scrollbar {
      width: 6px;
  } 
  ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  } 
  ::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  }
  .dots {
    width: 100px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -50px;
  }

  .nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: #0bbbe7;
  }